.header {
  padding: 0.75rem;
  background-color: var(--color-dark-700);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  display: flex;
}

.avatarContainer {
  cursor: pointer;
  display: flex;
  gap: 18px;
  align-items: center;
}

.name {
  user-select: none;
  border-bottom: 1px dotted var(--color-light-100);
}

.dropDownHeader {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dropDownElement {
  display: flex;
  gap: 6px;
  align-items: center;

  color: inherit;
  text-decoration: none;
}

.email {
  color: var(--color-dark-100);
}
