.titleContainer {
  display: flex;
  justify-content: space-between;
}

.settingContainer {
  display: flex;
  gap: var(--line-height-m);
  align-items: end;
  justify-content: space-between;

  margin-bottom: var(--line-height-l);
}

.sliderContainer {
  display: flex;
  align-items: center;
  height: 100%;
}
