.container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.pageList {
  display: flex;
  gap: 20px;
}

.firstAndLastPage {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.paginationButton {
  cursor: pointer;

  padding: 0 6px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background: none;
  border: none;
  border-radius: 12%;

  &:disabled {
    color: var(--color-dark-100);
  }

  &:focus {
    outline: 2px solid var(--color-info-300);
  }

  &:hover:not(:disabled) {
    background: var(--color-dark-500);
  }
}

.active {
  color: var(--color-dark-900);
  background: var(--color-light-100);

  &:hover:not(:disabled) {
    background: var(--color-light-100);
  }
}
