@import '../../../styles/mixins';

.root {
  text-align: center;

  .userNameWrapper {
    @include flex($align: end, $justify: center, $gap: 0.56rem);
  }

  .email {
    margin-bottom: 1.3rem;
    color: var(--color-dark-100);
  }
}
